body {
    background-color: black;
}

/* .Main-Heading-Section {
    height: 443px;
    width: 797.625px;
    padding: 140px 46px 0 46px;
    display: block;
}

.Main-Heading {
    font-size: 130px;
    font-weight: 700;
    letter-spacing: -4.16px;
    line-height: 250px;

    height: 250px;
    width: 805.422px;
    margin: 0 0 20px -8px;
    display: block;

    color: white;
}

.Main-Intro-Div {
    height: 108px;
    width: 797.625px;

    display: flex;
    justify-content: space-between;
}

.Main-Intro-Left {
    height: 108px;
    width: 187.445px;
    min-height: auto;
    min-width: auto;

    display: block;
}

.Email-Intro {
    font-size: 16px;
    line-height: 18.4px;

    height: auto;
    width: auto;

    display: inline;

    cursor: pointer;

    color: white;
}

.Web-Dev-Intro {
    font-size: 24px;
    font-weight: 600;
    letter-spacing: -0.24px;
    line-height: 34px;

    height: auto;
    width: auto;

    display: inline;

    color: white;
}

.Main-Intro-Text {
    font-size: 16px;
    line-height: 24px;

    height: 72px;
    width: 292.281px;
    margin: 0 0 15px 0;

    display: block;

    color: white;
}

.Main-Intro-Right {
    height: 108px;
    width: 292.281px;
    margin: 0 53px 0 0;
    min-height: auto;
    min-width: auto;

    display: block;
}

section::after {
    margin-top: 60px;
    content: '';
    display: block;
    height: 5px;
    background-color: white;
}

.Project-Div {
    height: 9370.44px;
    width: 890px;
    padding: 30px 46px 50px 46px;

    display: block;
}

.Project-Main-Container {
    height: 714.203px;
    width: 797.625px;
    padding: 30px 0 30px 0;

    display: flex;
}
*/

.wrapper{
    max-width: 50rem;
    margin-inline: auto;
    padding-inline: 1rem;
}

img {
    max-width: 100%;
    display: block;
}

.accordion {
    --_button-size: 3rem;
    --_panel-padding: 0.75rem;
    --_panel-gap: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

@media (min-width: 45em) {
    .accordion{
        flex-direction: row;
        height: 30rem;
    }
}

.accordion-panel {
    position: relative;
    isolation: isolate;
    flex-basis: calc((var(--_panel-padding) * 2 )+ var(--_button-size));
    overflow: hidden;
    padding: var(--_panel-padding);
    padding-right: calc(var(--_panel-padding) * 5);
    border-radius: calc(((var(--_panel-padding) * 2 ) + var(--_button-size)) / 2 );
    background-color: white;

}

@media (prefers-reduced-motion: no-preference) {
    .accordion-panel {
        transition: flex-basis 500ms;
    }
}

.accordion-panel:has([aria-expanded="true"]) .accordion-image {
    filter: brightness(0.5);
}

.accordion-title {
    font-size:1.5rem;
    font-weight: 700;

    position: relative;
    isolation: isolate;

    display: grid;
    align-items: center;
}

@media (max-width: 44.999em) {
    .accordion-title::after {
        content: '';
        position: absolute;
        left: calc((var(--_panel-gap) + var(--_button-size)) * -1);
        width: calc(100% + (var(--_button-size) * 2));
        height: var(--_button-size);
        z-index: -1;
        background-color: hsl(0 0% 0% / 0.5);
        border-radius: 100vw;

    }
}

.accordion-panel:has([aria-expanded="false"]) {
    flex-basis: clamp(15rem, 40vh, 20rem);
    flex-grow: 1;
}

.accordion-panel:has([aria-expanded="true"]) .accordion-content > p {
    transform: translateY(0);
    opacity: 1;
    transition: transform 500ms 250ms, opacity 500ms 250ms;
}

.accordion-content > p {
    transform: translateY(2rem);
    opacity: 0;
    margin-left: 5.5rem; 
}

.accordion-image {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    transition: filter 500ms;
}

.accordion-trigger {
    display: flex;
    align-items: center;
    gap: var(--_panel-gap);
    flex-direction: row-reverse;
    background: transparent;
    border: 0;
    padding: 0;
    margin: 0;
}

.accordion-icon {
    fill: var(--_panel-color);
    background: hsl(0 0% 0% / 0.55);
    width: 1.5rem;
    aspect-ratio: 1 / 1;
    padding: 0.75rem;
    border-radius: 50%;
    z-index: 10;
}

.accordion-panel:nth-child(1) {
    --_panel-color: black;
}

.accordion-panel:nth-child(2) {
    --_panel-color: black;
}

.accordion * {
    margin: 0;
}
