body {
    background-color: black;
}

.Main-Heading-Section {
    height: 443px;
    width: 797.625px;
    padding: 140px 46px 0 46px;
    display: block;
}

.Main-Heading {
    font-size: 130px;
    font-weight: 700;
    letter-spacing: -4.16px;
    line-height: 250px;

    height: 250px;
    width: 805.422px;
    margin: 0 0 20px -8px;
    display: block;

    color: white;
}

.Main-Intro-Div {
    height: 108px;
    width: 797.625px;

    display: flex;
    justify-content: space-between;
}

.Main-Intro-Left {
    height: 108px;
    width: 187.445px;
    min-height: auto;
    min-width: auto;

    display: block;
}

.Email-Intro {
    font-size: 16px;
    line-height: 18.4px;

    height: auto;
    width: auto;

    display: inline;

    cursor: pointer;

    color: white;
}

.Web-Dev-Intro {
    font-size: 24px;
    font-weight: 600;
    letter-spacing: -0.24px;
    line-height: 34px;

    height: auto;
    width: auto;

    display: inline;

    color: white;
}

.Main-Intro-Text {
    font-size: 16px;
    line-height: 24px;

    height: 72px;
    width: 292.281px;
    margin: 0 0 15px 0;

    display: block;

    color: white;
}

.Main-Intro-Right {
    height: 108px;
    width: 292.281px;
    margin: 0 53px 0 0;
    min-height: auto;
    min-width: auto;

    display: block;
}

section::after {
    margin-top: 60px;
    content: '';
    display: block;
    height: 5px;
    background-color: white;
}

.Project-Div {
    height: 9370.44px;
    width: 890px;
    padding: 30px 46px 50px 46px;

    display: block;
}

.Project-Main-Container {
    height: 714.203px;
    width: 797.625px;
    padding: 30px 0 30px 0;

    display: flex;
}